.imageElement--promotion {
    cursor: pointer;
    border-radius: 20px;
    max-width: 960px;
    margin-top: 16px;
}
.caretIcon--promotion {
    margin-top: 27rem;
    width: 22rem;
    color: white;
}
.paginationDotsContainer--promotion {
    margin-bottom: -2.78rem;
}