.imageElement--promotion {
    cursor: pointer;
    border-radius: 20px;
    max-width: 960px;
    margin-top: 16px;
}
.sliderArrows--promotion {
    margin-top: 27rem;
    width: 22rem;
    color: #fff;
}
.paginationDotsContainer--promotion {
    margin-bottom: -2.78rem;
}
.slideChildrenContainer--menu-layout {
    background: #212121;
}
.paginationDotsContainer--menu-layout{
    display: none;
}
.caretIcon--menu-layout {
    color: #fff;
    width: 16px;
}
.sliderLayoutContainer--products-layout {
    margin-top: 80px;
}